/* vim:set sts=4 sw=4 ts=4 expandtab: */

/*
 * 計算機コンポーネントにかかるスタイル
 *
 * CSS Modules用
 */


/* 画面全体の構成 */

/* アプリ全体 */
.app {
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* アプリの配置 */
.whole_app {
    composes: app;
    margin: auto;
    width : -moz-fit-content;
    width : -webkit-fit-content;
    width : fit-content;
    flex: 1;
}

/* ヘッダ(タイトル)部分の配置 */
.header_box {
    margin : 5px;
    width : -moz-fit-content;
    width : -webkit-fit-content;
    width : fit-content;
}

/* 計算機本体部分の配置 */
.calculator_box {
    width: available;
    display: flex;
    flex-direction: row;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
}

/* 計算機内左側の配置 */
.left_box {
    margin: 5px;
    width: auto;
}

/* 計算機内右側の配置 */
.right_box {
    margin : 5px;
    width : -moz-fit-content;
    width : -webkit-fit-content;
    width : fit-content;
    flex: 1;
}


/* フッタ(著作権表示等) */
.footer_box {
    clear : both;
    margin : 5px;
    width : auto;
    width : -moz-fit-content;
    width : -webkit-fit-content;
    width : fit-content;
}


/* 要素 */

/* 上部タイトルバーの装飾等 */
.whole_title {
    color: #ffffff;
    background-color: #2a2a2a;
    font-size: 16pt;
    line-height: 1em;
    margin: 10px 0px;
    padding: 5px 5px;
    box-shadow:1px 3px 7px 0px #666666 ;
    border-bottom: 3px solid #ff6347;
    border-radius: 5px;
}


/* テーブル */

.base {
    composes: base from "./tables.css";
}

.row {
    composes: row from "./tables.css";
}

.header {
    composes: header from "./tables.css";
}

.cell {
    composes: data from "./tables.css";
}

.result {
    composes: cell;
    width: 5em;
}

/* 小タイトル */
.title {
    composes: header from "./app.css";
}

/* 下部ナビゲーション */
.nav {
    padding: 0;
    margin: 0em 1em;
}

.nav-item {
    display: inline-block;
    padding-left: 0.5em;
}

.nav-item::before {
    content: ">";
}

/* 下部著作権表示 */
.comment {
    margin: 0.5em 0;
}

.copyright {
    margin-left: 1em;
}

.copyright-list {
    margin-left: 0.5em;
    padding-left: 0;
}

.copyright-list-item {
    list-style-type: none;
    list-style-position: inside;
}
