/* vim:set sts=4 sw=4 ts=4 expandtab: */

/*
 * グローバル(サイト全体)CSS
 */

@viewport {
    min-width: 1020px;
    max-width: 95%;
    zoom: 1.0;
}

body {
    font-size: 100%;
    background: transparent;
    font-family: "ＭＳ Ｐゴシック", arial, helvetica, clean, sans-serif;
}

input {
    vertical-align: middle;
}
