/* M+ WebFontsを使うための設定 */

@font-face
{
font-family: 'M+ P Type-1 (basic latin) Regular';
src: url('http://mplus-fonts.osdn.jp/webfonts/basic_latin/mplus-1p-regular-sub.eot');
src: url('http://mplus-fonts.osdn.jp/webfonts/basic_latin/mplus-1p-regular-sub.eot?#iefix') format('embedded-opentype'),
url('http://mplus-fonts.osdn.jp/webfonts/basic_latin/mplus-1p-regular-sub.woff') format('woff'),
url('http://mplus-fonts.osdn.jp/webfonts/basic_latin/mplus-1p-regular-sub.ttf') format('truetype');
}

@font-face
{
font-family: 'M+ Type-1 (general-j) Regular';
src: url('http://mplus-fonts.osdn.jp/webfonts/general-j/mplus-1-regular-sub.eot');
src: url('http://mplus-fonts.osdn.jp/webfonts/general-j/mplus-1-regular-sub.eot?#iefix') format('embedded-opentype'),
url('http://mplus-fonts.osdn.jp/webfonts/general-j/mplus-1-regular-sub.woff') format('woff'),
url('http://mplus-fonts.osdn.jp/webfonts/general-j/mplus-1-regular-sub.ttf') format('truetype');
}
